[submodule "kvlib/.deps/metamod-source"]
	path = kvlib/.deps/metamod-source
	url = https://github.com/alliedmodders/metamod-source
[submodule "kvlib/.deps/hl2sdk"]
	path = kvlib/.deps/hl2sdk
	url = https://github.com/alliedmodders/hl2sdk
	branch = cs2
